html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

#root {
	height: 100%;
}

.join-screen {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #263238;
}

.raised-button {
	border-radius: 0.2vw;
	border: 0;
	background-color: #009999;

	color: #cceaea;
	font-family: 'Roboto', 'sans-serif';
	font-size: large;

	outline: none;
}

.join-button {
	width: 10vw;
	height: 4vh;
}

.raised-button:hover {
	background-color: #32adad;
	transition: all 300ms;
	color: #ffffff;
}

.raised-button:active {
	background-color: #009999;
}

.username-input {
	height: 3vw;
	width: 30vw;
	background-color: #263238;

	border: none;
	border-bottom: 2px solid #c4f4ff;

	color: #FFFFFF;
	font-size: large;
	font-family: 'M PLUS 1p';
	outline: 0;
}

.username-input-underline {
	height: 2px;
	position: relative;
	top: -2px;
	background-color: #68d4ff;
	transform: scaleX(0);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.username-input:focus + .username-input-underline {
	transform: scaleX(1);
}

.username-input:hover + .username-input-underline {
	transform: scaleX(1);
}

.username-status {
	color: #7fcccc;
}

.form-container {
	display: flex;
	flex-direction: row;
}

.chat-main-pane {
	width: 80%;
	height: 100%;
	font-family: 'M PLUS 1p';
}

.chat-side-pane {
	width: 20%;
	height: 100%;
	background-color: #bdc1c3;
}

.server-info {
	width: 100%;
	color: #eeeeee;
	font-size: x-large;
	padding: 1vh 0 1vh 0;
	background-color: #575d5f;
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bolder;
}

.chat-input {
	margin: 0;
	width: calc(100% - 10vw - 2vw);
	margin-right: 1vw;
	border-radius: 0.2vw;
	background-color: #7c8487;
	border: none;
	resize: none;
	outline: none;
	color: #e9eaeb;
	font-size: large;
	padding: 1vh;
	font-family: 'M PLUS 1p';
}

.chat-input::placeholder {
	color: #a4a9ac;
}

.chat-form {
	padding: 0 1vw 0 1vw;
	display: flex;
	flex-direction: row;
	margin: 1vh 0 1vh 0;
	height: 6vh;
}

.submit-button {
	width: 10vw;
}

.chat-root {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: #263238;
}

.message-container {
	height: calc(100% - 6vh - 2vh);
	overflow-y: scroll;
	overflow-x: visible;
	overflow-wrap: break-word;
}

.message {
	color: #ffffff;
	margin: 1vh 0 0 3vw;
}

.message-sender-name {
	font-weight: bolder;
}

.server-bot-name {
	color: #ce3d33;
}

.message-content {
	margin: 0.5vh;
}
